<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZBR-log</title>
    <!-- CSS 연결 -->
    <link rel="stylesheet" href="css/basic.css">
    <link rel="stylesheet" href="css/addTheme.css">
</head>
<body>
    <div class="bg">
        <!-- 왼쪽 입력 폼 영역 -->
        <section class="log-box">
            <!-- 테마 정보 입력 폼 -->
            <form id="theme-form" class="log-box">
                <input id="theme_name" name="theme_name" type="text" placeholder="테마 이름" class="input-form input-font" required />
                <input id="theme_code" name="theme_code" type="text" placeholder="테마 코드 (4자리)" class="input-form input-font" required maxlength="4" pattern="\d{4}" inputmode="numeric" />
                <input id="escape_time_minutes" name="escape_time_minutes" type="text" placeholder="탈출 제한 시간(분)" class="input-form input-font" required maxlength="2" pattern="\d{1,2}" inputmode="numeric" />
                <input id="available_hints" name="available_hints" type="text" placeholder="사용 가능 힌트 수" class="input-form input-font" required maxlength="1" pattern="\d{1}" inputmode="numeric" />
                <input id="monitoring_places" name="monitoring_places" type="text" placeholder="모니터링 장소 개수" class="input-form input-font" required maxlength="1" pattern="\d{1}" inputmode="numeric" />
                
                <!-- 맵 추가 버튼 -->
                <button type="button" id="add-map-btn" class="theme-add-btn">맵 추가</button>
                <input type="file" id="map-upload" accept=".jpg, .pdf" style="display: none;">
                
                <!-- 업로드된 파일 목록 -->
                <ul id="file-list" style="color: white; list-style: none; padding: 0;"></ul>

                <!-- 테마 추가 버튼 -->
                <button type="submit" id="save_theme" class="log-btn" disabled>테마 추가하기</button>
            </form>
        </section>
    </div>

    <script src="js/addTheme.js"></script>
</body>
</html>
