<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <!-- CSS 연결 -->
    <link href="css/basic.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
</head>

<body>
    <div class="bg-img">
        <div class="login-page">
            <div class="form">
                <button id="button" class="btn-start btn-font">시작하기</button>
            </div>
        </div>
    </div>

    <!-- JS 연결 -->
    <script src="../js/index.js"></script>
</body>
</html>

