<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <!-- CSS 연결 -->
    <link rel="stylesheet" href="/css/home/index.css">
</head>
<body>
    <div class="login-page">
        <div class="form">
            <button id="button">시작하기</button>
        </div>
    </div>

    <!-- JS 연결 -->
    <script src="/js/home/index.js"></script>
</body>
</html>
