<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>맵 추가</title>
    <link rel="stylesheet" href="/css/home/mapPopup.css">
</head>
<body>
    <h2>맵 추가 팝업</h2>
    <p>모니터링 장소 개수에 따라 입력 필드가 자동 생성됩니다.</p>

    <!-- 입력필드 추가될 컨테이너-->
     <div id="map-input-container"></div>

     <button class="close-btn">닫기</button>
</body>
</html>
